<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menú raíz como aplicación independiente -->
    <menuitem id="menu_ingenieria_certificaciones_root"
              name="Certificaciones"
              web_icon="ingenieria_certificaciones,static/description/icon.png"
              sequence="100"/>

    <menuitem id="menu_ingenieria_certificaciones_list"
              name="Certificaciones de Obra"
              parent="menu_ingenieria_certificaciones_root"
              action="action_ingenieria_certificacion"
              sequence="10"/>
</odoo>
